/*Principais Partes*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF5F0; /* Cor de fundo suave */
  color: #5E503F; /* Marrom clássico */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D8A790; /* Rosa antigo */
  color: white;
  padding: 10px 20px;
  height:60px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

section {
  padding: 20px;
  text-align: center;
}

/*IDs e Classes*/
#imagem {
  width: 200px;
  height: auto;
}

#navbar {
  display: flex; /* Faz com que os itens fiquem alinhados lado a lado */
  justify-content: center; /* Centraliza os itens horizontalmente */
  gap: 20px; /* Espaço entre os itens */
  /*background-color: #f5ebe0;  Fundo suave (pode personalizar) */
  padding: 10px; /* Espaço interno para a barra */  
}

/* Estilo dos itens */
#navbar a {
  margin-right: 20px; /* Remove margens padrão */
  letter-spacing: 3px;
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #6c4a4a; /* Cor do texto (pode usar rosa antigo ou marrom) */  
  font-weight: 900;
}

#navbar a:hover {
  opacity:0.6; /* Muda a cor ao passar o mouse */
}

.noto-serif-texto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
  "width" 100;
}

#contato {
  background-color: #FFF5F0;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#contato h2 {
  font-family: 'Georgia', serif;
  color: #6C4A4A;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

#contato p {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  color: #4A3636;
  text-align: center;
  margin-bottom: 20px;
}


.login-box {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}
.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6C4A4A;
}
.login-box input {
    width: 94%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #D8A790;
    border-radius: 5px;
}
.login-box button {
    width: 100%;
    padding: 10px;
    background: #D8A790;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.login-box button:hover {
    background: #C79586;
}